

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
	font-family:Tahoma, Geneva, sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.active {
    background-color: #666;
}

.ban{
	background-color:#424242;
	color:#FFF;
	height:30px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	padding-top:5px;
	}
